.asideTab {
	border: 1px;
	padding: 1px;
	border-radius: 25%;
}
.banOptions,.unbanOptions {
	display:none;
}
.admin .lid:hover .banOptions {
	display:block;
}
#bannedList .lid:hover .unbanOptions {
	display:block;
}