body {
	display: grid;
	grid-template-areas:
			"header header header header"
			". main . friends"
			". footer footer footer";
	grid-template-columns:5% 75% 5%;
	grid-template-rows:32px 1fr auto;
	margin:0px;
	width:100%;
	height:100vh;
	background-color:#dfeee3;
}
#loginOptions {
	display:grid;
	grid-template-areas: "loginScreen loginSeparator newAccountScreen";
	width:100%;
}
#loginScreen {grid-area:loginScreen;}
#loginSeparator {grid-area:loginSeparator;margin:auto;}
#newAccountScreen {grid-area:newAccountScreen;}

@media (max-width:1000px) {
	#friends {display:none;}
	body {
		grid-template-areas:
			"header header header"
			". main ."
			". footer footer";
		grid-template-columns:5% 90% 5%;
	}
}
@media (max-width:720px) {
	body {
		grid-template-areas:
			"header"
			"main"
			"footer";
		grid-template-columns:100%;
	}
	#loginOptions {
		grid-template-areas: "loginScreen" "loginSeparator" "newAccountScreen";
		grid-template-columns:auto;
	}
}
aside#friends {
	grid-area:friends;
	background-color:#8bc39d;
}
main {grid-area:main;}
#copyright {grid-area:footer;}
#topBar {
	grid-area:header;
	display:flex;
	background-color: #3b9859;
}
#topBar #siteName {
	margin:auto;
	color:white;
	font-weight:bold;
	font-size:14pt;
	
}
#settings,#notLoggedIn,#newPasswordScreen {
	display:none;
}
#loginOptions fieldset {
	text-align:center;
}
.border {
	border: 1px solid black;
	border-radius: 20px;
	padding: 5px;
}
#pageHeader {
	height:64px;
	display:flex;
}
.postHeader {
	height:50px;
	display:flex;
}
#pageHeader > img, .postHeader > img {
	height:inherit;
}
#pageHeader > h1 {
	margin:auto;
}
.postHeader > h2 {
	margin:10px;
}
.postHeader > img, .post > p {
	margin-left:10px;
	margin-right:10px;
}
.vote {
	font-size:14pt;
}
.replyButton {
	margin-left:auto;
	margin-right:auto;
}
.postFooter {
	margin-left:auto;
	margin-right:auto;
	width:40%;
	display:flex;
}
.messageBox {
	font-family: inherit;
}
.messageDiv {
	display:flex;
	width:100%;
}
.messageForm {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.messageForm > label {
	width:100%;
	display:inline-block;
}
.messageForm > label > textarea {
	width:100%;
	background-color:#f2f8f3;
}
textarea:focus {
	outline: thin dotted invert
}